// @import url("https://fonts.googleapis.com/css?family=Muli:200,400,400i,700,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;800&display=swap");
@import url("https://use.typekit.net/jkv5qjh.css");



@import "./partials/variables";

@import "./partials/colors";
@import "./partials/size";
@import "./partials/inputs";
@import "./partials/fonts";

@import "./partials/animations";
@import "./partials/position";
@import "./partials/links";
@import "./partials/buttons";
@import "./partials/message";
@import "./partials/dropdown";
@import "./partials/top-nav";
@import "./partials/program-nav";
@import "./partials/side-bar";
@import "./partials/pallete";



