.top-nav {
	padding-left: 40px;
	padding-top: 10px;
	padding-right: 40px;
	width: 100%;
	.mt10{
		margin-top: 10px !important;
	}
	
	.link-item {
		cursor: pointer;
		color: #334E68;
		transition: opacity 0.2s;
		font-weight: 500 !important;
		margin-left: 50px;
		height: 40px;
		padding-top: 10px;
		&:hover {
			color: #102A43;
			font-weight: 700 !important;
			border-bottom: #007BFF 4px solid;
		}
		&.active {
			color: #102A43;
			font-weight: 700 !important;
			border-bottom: #007BFF 4px solid;
		}
	}

	.link-item-right {
		cursor: pointer;
	}

}

@media screen and (min-width: 768px) {
	.top-nav {
		position: fixed;
		top: 0;
		z-index: 2;
		padding-left: 40px;
		padding-top: 10px;
	}
}



.bottom-nav {
	position:absolute;
	bottom:0;  
	left:0;  
	height: 10vh;
	padding-left: 40px;
	padding-top: 10px;
	background: #FFFFFF;
	border-radius: 5px;

	.item {
		transition: opacity 0.2s;
		margin-left: 30px;
		span{
			font-weight: 400;
			font-size: 14px;
			color: #102A43;
			line-height: 14px !important;
		}
		a {
			color: #007BFF;
		}
	}

	.item-d {
		transition: opacity 0.2s;
		margin-left: 30px;
		margin-right: 10px;
		span{
			font-weight: 400;
			font-size: 14px;
			color: #102A43;
			line-height: 14px !important;
		}
		a {
			color: #007BFF;
		}
	}

	.item-s {
		transition: opacity 0.2s;
		padding-left: 20px;
		border-left: 2px#102A43 solid;
		height: 40px;
		span{
			font-weight: 300;
			font-size: 13px;
			color: #102A43;
			line-height: 21px !important;
		}
		a {
			color: #007BFF;
		}
	}
}
